.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* #portfolio .row {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

 /* #portfolio .row a {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    text-decoration: underline;
} */

 #portfolio h1 {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

#portfolio .card {
  background-repeat: no-repeat;
  height: 25vh;
  width: 20vw;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 15vw;
  margin-right: 25px;
}

#portfolio .card#bidmycrib {
  background-image: url("./Assets/bidmycribcapture.png");
  background-position: left;
  

}

#portfolio .card#todoapp {
  background-image: url("./Assets/todoapp.PNG");

}

#portfolio .card#houser {
  background-image: url("./Assets/housercapture.PNG");
  

}

#portfolio .card#shelfie {
  background-image: url("./Assets/shelfiecapture.PNG");
  background-position: left;
}

#portfolio .card#dropurspot {
  background-image: url("./Assets/dropurspot.PNG");
 
}

#portfolio .card#tableapp {
  background-image: url("./Assets/SampleTableApp.JPG");
 
}


#portfolio .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}